<section class="white-section" id="features">
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-4">
          <i class="fas fa-check-circle fa-4x"></i>
          <h3 class="feature-title">Easy to use.</h3>
          <p>So easy to use, even you can start your clothing line.</p>
        </div>

        <div class="col-lg-4">
          <i class="fas fa-bullseye fa-4x"></i>
          <h3 class="feature-title">Great deals</h3>
          <p>Bigger the cart, bigger the deals.</p>
        </div>

        <div class="col-lg-4">
          <i class="fas fa-heart fa-4x"></i>
          <h3 class="feature-title">Guaranteed glam.</h3>
          <p>Great quality or your money back.</p>
        </div>
      </div>
    </div>

  </section>