<section class="white-section" id="pricing">

    <h2 class="section-heading">A Plan for Every Fashionista's Needs</h2>
    <p class="price-subheading">Simple and affordable price plans for your designs and prints.</p>

    <div class="row">

      <div class="pricing column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Tshirt</h3>
          </div>
          <div class="card-body">
            <h2 class="price-text">Rs 500</h2>
            <p>10% off for 3 tees</p>
            <p>15% off for 5 tees</p>
            <p>30% off for 10 or more.</p>
            <button class="btn btn-lg btn-block btn-outline-dark" type="button">Sign Up</button>
          </div>
        </div>
      </div>

      <div class="pricing column col-lg-4 col-md-6">

        <div class="card">
          <div class="card-header">
            <h3>Sweatshirt</h3>
          </div>
          <div class="card-body">
            <h2 class="price-text">Rs 1500</h2>
            <p>10% off for 2</p>
            <p>15% off for 3</p>
            <p>30% off for 10 or more.</p>
            <button class="btn btn-lg btn-block btn-outline-dark" type="button">Sign Up</button>
          </div>
        </div>
      </div>

      <div class="pricing column col-lg-4 col-md-12">

        <div class="card">
          <div class="card-header">
            <h3>Hoddie</h3>
          </div>
          <div class="card-body">
            <h2 class="price-text">Rs 2000</h2>
            <p>10% off for 2</p>
            <p>25% off for 3</p>
            <p>45% off for 10 or more.</p>
            <button class="btn btn-lg btn-block btn-dark" type="button">Sign Up</button>
          </div>
        </div>
      </div>
    </div>

  </section>